header{
    /* position: fixed;
    top:0;
    left:0;
    right:0; */
    padding: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.6);
    display: flex;
    justify-content: right;
    align-items: center;
}